MatchGame.xcodeproj/xcuserdata
MatchGame.xcodeproj/project.xcworkspace
MatchGame.xcworkspace/xcuserdata

*.xcuserstate

DS_Store
Pods/

.githooks/post-checkout
.githooks/post-commit
.githooks/post-merge
.githooks/pre-push

Podfile.lock

DerivedData/

Logs/
